/* --------------------------------
File Name: main.css
Purpose: to set custom styles
-------------------------------- */

/* Nav */
header {
  position: relative;
}

#navbar {
  position: fixed;
  display: flex;
  height: 64px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  align-items: center;

  /* background-color: var(--color-bright); */
}

#navbar-menu {
  display: flex;
  justify-content: start;
  align-items: end;
}

#navbar-menu img {
  height: 38px;
  padding-bottom: 0.25rem;
  filter: brightness(0) invert(1);
}

#navbar-items {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  margin: 0 auto;
}

#navbar-items a {
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0;

  color: var(--color-bright);
}

#navbar-personal {
  display: flex;
  justify-content: end;
  gap: 4px;
}

#navbar-personal li {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-personal li i {
  font-size: 24px;
  text-align: center;
}

/* Cover */
#cover {
  display: flex;
}

/* Highlight */
#highlight {
  padding: 0;
  background-image: linear-gradient(
      to left top,
      var(--color-background-filter),
      #121212b9
    ),
    url("../../data/insights/thumbnail/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#highlight h1,
#highlight p {
  color: var(--color-bright);
}

#highlight .topic {
  outline-color: var(--color-bright);
}

#highlight .section-container {
  padding: 32px 32px;
}

#highlight-buttons {
  color: #1f191075;
}

#highlight-buttons a {
  background-color: #f9f6f232;
  outline-style: none;
  font-size: 1.6rem;
}

/* Editor's Pick */
#editorspick {
  padding: 64px 32px 32px 32px;
  background-color: var(--color-background);
}

#editorspick-primary {
  border-bottom: solid 1px #000;
  padding-bottom: 3.2rem;
  margin-bottom: 3.2rem;
}

#editorspick-primary .section-img {
  height: 36.3dvh;
}

#editorspick-primary .section-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#editorspick-secondary-list {
  list-style: disc;
  margin-left: 1.6rem;
}

#editorspick-secondary-list li::marker {
  font-size: initial;
}
