/* --------------------------------
File Name: main.css
Purpose: to set custom styles
-------------------------------- */

/* Nav */
header {
  position: relative;
}

#navbar {
  position: fixed;
  display: flex;
  height: 64px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 4px 24px;
  align-items: center;

  /* background-color: var(--color-bright); */
}

#navbar-menu {
  display: flex;
  justify-content: start;
  align-items: end;

  gap: 8rem;
}

#navbar-menu img {
  padding-bottom: 2.5px;
  filter: brightness(0) invert(1);
}

#navbar-items {
  display: flex;
  gap: 32px;
}

#navbar-items a {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0;

  color: var(--color-bright);
}

/* Nav icon */
.nav-icon li {
  display: contents;
}

.nav-icon li i {
  font-size: 2.4rem;
  text-align: center;
  width: 3rem;
  margin: 0 0.4rem;
}

/* Section title */
.section-title p {
  font-weight: bold;
  text-transform: uppercase;
}

/* Section image */
.section-img {
  border-radius: 2rem;
}

/* Each Section */
#cover {
  display: flex;
  flex-direction: row;
}

@media (min-width: 900px) {
  #cover {
    min-height: 900px;
    height: 100dvh;
  }
}

#highlight {
  padding: 0;
  background-image: linear-gradient(
      to right bottom,
      var(--color-background-filter),
      #00000066
    ),
    url("../../data/insights/thumbnail/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
}

#editorspick {
  padding: 96px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-background);
}

#editorspick img {
  height: auto;
}

#editorspick > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Topic */
.topic {
  display: inline-block;
  text-transform: uppercase;
  padding: 4px 16px;
  border-radius: 2rem;
  outline: 2px solid #000;
}

.viewall {
}
