/* -----------------------------------
- Purpose: to keep the mood of a main theme responsively by various medias. Media queries are applied.
- Author: Hyunjung Joun

- Note: For responsiveness and typography, I tried to follow Apple's human interface guidelines and Material Design's.
- Reference:
-- https://developer.apple.com/design/human-interface-guidelines/typography
-- https://m2.material.io/design/typography/the-type-system.html#applying-the-type-scale

- Main Breakpoints:
-- xs (360px) Mobile
-- s (600px) Tablet Portrait
-- m (950px) Tablet Landscape
-- l (1280px) Laptop
-- xl (1440px) Desktop

- Note: For naming, I tried follow BEM. (.block_element-modifier)
-- Reference: https://getbem.com/

* Acronym
1. tc: text color
2. ts: text size
------------------------------------- */

/* Mobile */
@media (min-width: 360px) {
  .h0 {
    font-size: var(--h0-xs);
    line-height: 1.225;
  }

  h1 {
    font-size: var(--h1-xs);
    line-height: 1.24;
  }

  h2 {
    font-size: var(--h2-xs);
    line-height: 1.263;
  }

  h3 {
    font-size: var(--h3-xs);
    line-height: 1.294;
  }

  a,
  p,
  body {
    font-size: var(--body-m-xs);
    line-height: 1.357;
  }

  .ts--body-s {
    font-size: var(--ts--body-s-xs);
    line-height: 1.333;
  }

  .body-xs {
    font-size: var(--body-xs-xs);
    line-height: 1.18;
  }
}

/* Tablet Portrait */
@media (min-width: 600px) {
}

/* Tablet Landscape */
@media (min-width: 950px) {
}

/* Laptop */
@media (min-width: 1280px) {
}

/* Desktop */
@media (min-width: 900px) {
  h1,
  .ts--h1 {
    font-size: var(--h1-xl);
    letter-spacing: var(--h1-spacing-xl);
    line-height: 1.2;
  }

  h2,
  .ts--h2 {
    font-size: var(--h2-xl);
    letter-spacing: var(--h2-spacing-xl);
    line-height: 1.25;
  }

  h3,
  .ts--h3 {
    font-size: var(--h3-xl);
    letter-spacing: var(--h3-spacing-xl);
    line-height: 1.25;
  }

  h4,
  .ts--h4 {
    font-size: var(--h4-xl);
    letter-spacing: var(--h4-spacing-xl);
    line-height: 1.27;
  }

  a,
  p,
  body,
  q,
  input,
  .ts--body {
    font-size: var(--body1-xl);
    letter-spacing: var(--body1-spacing-xl);
    line-height: 1.263;
  }

  label,
  .ts--body-s {
    font-size: var(--body2-xl);
    letter-spacing: var(--body2-spacing-xl);
    line-height: 1.333;
  }

  .ts--btn {
    font-size: var(--button-xl);
    letter-spacing: var(--button-spacing-xl);
    text-transform: uppercase;
    font-weight: bold;
  }

  .ts--caption {
    font-size: var(--caption-xl);
    letter-spacing: var(--caption-spacing-xl);
  }

  /* Column gap -------------- */
  /* Row gap */
  .gap--l {
    gap: 3.2rem;
  }

  .gap--m {
    gap: 1.6rem;
  }

  .gap--s {
    gap: 0.8rem;
  }

  /* Section Spacing --------------- */
  .container--m {
    padding: 6.4rem 3.2rem;
  }

  .container--s {
    padding: 3.2rem 1.6rem;
  }

  /* Section Aside Spacing --------- */
  .section-aside {
    padding: 3.2rem 1.6rem;
    border: solid 1px var(--color-gray-light);
    border-radius: 1.6rem;
  }

  /* Navbar Spacing */
  nav {
    padding: 0.4rem 3.2rem;
  }
}
