/* --------------------------------
- Purpose: to enhance reusability by defining utility classes in the atomic level.
- Author: Hyunjung Joun

- Note: For naming, I tried follow BEM. (.block_element-modifier)
-- Reference: https://getbem.com/

* Acronym
1. tc: text color
2. ts: text size
-------------------------------- */

/* Basic Utils - Text -----------------*/
.italic {
  font-style: italic;
}

.tc--white {
  color: var(--color-white);
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

/* Basic Utils - Display --------------*/
.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.col.v-center {
  justify-content: center;
}

.row.v-center {
  align-items: center;
}

.col.h-center {
  align-items: center;
}

.row.h-center {
  justify-content: center;
}

.col.between {
  justify-content: space-between;
}

.row.between {
  justify-content: space-between;
}

/* Section Title */
.section-title {
  color: var(--color-secondary-dark);
}

.section-title > p {
  font-weight: bold;
  text-transform: uppercase;
}

/* Section Background Image */
.bg--img {
  background-image: linear-gradient(
      to left top,
      var(--color-primary-filter),
      var(--color-secondary-filter)
    ),
    var(--img-url);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
}

/* Section Image */
.section-img {
  position: relative;
  border-radius: 1.6rem;
  overflow: hidden;
}

/* Section Image - Hover */
.section-img:hover {
  cursor: pointer;
}

.section-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background: linear-gradient(
    to left top,
    var(--color-primary-filter),
    var(--color-secondary-filter)
  );
  opacity: 0;
  transition: all 0.15s ease;
}

.section-img:hover::before {
  opacity: 0.5;
}

.section-img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  transition: all 0.2s ease;
  aspect-ratio: 6 / 4;
}

.section-img:hover img {
  transform: scale(103%);
}

.section-img .component-bookmark-add {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  margin: 0.8rem;
  /* transform: translate(-20%, 20%); */

  opacity: 0;
  transition: opacity 0.1s ease;
}

.section-img .component-bookmark-add svg {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.section-img:hover .component-bookmark-add {
  opacity: 1;
}

.section-img:hover .component-bookmark-add svg {
  opacity: 1;
}

.section-img .topic {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1.2rem;
  z-index: 2;

  opacity: 0;
  transition: opacity 0.1s ease;
}

.inspirations-item.section-img .topic {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  margin: 0;

  opacity: 0;
  transition: opacity 0.1s ease;
}

.section-img:hover .topic {
  opacity: 1;
}

/* Component: Bookmark Add */
.component-bookmark-add {
  background-color: var(--color-primary);
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.component-bookmark-add svg {
  fill: var(--color-secondary);
  width: 2.4rem;
}

/* Component: View All */
.viewAll {
  color: var(--color-secondary-dark);
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

/* Component: Topic */
.topic {
  text-transform: uppercase;
  padding: 0.4rem 1.6rem;
  border-radius: 1.6rem;
  font-weight: 600;
  outline: 0.2rem solid var(--color-secondary);
}

.topic--white {
  text-transform: uppercase;
  padding: 0.4rem 1.6rem;
  border-radius: 1.6rem;
  font-weight: 600;
  outline: 0.2rem solid var(--color-white);
}

/* Button: An icon with circled button 24px */
.btn--circle-m {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  outline: solid 0.2rem var(--color-secondary-dark);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button: An icon with circled button 32px */
.btn--circle-l {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  outline: solid 0.2rem var(--color-secondary-dark);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hover change bg */
.hover--light {
  background-color: transparent;
}

.hover--light:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.hover--txt {
}

.hover--txt:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* Button Primary */
.btn-primary {
  background-color: var(--color-secondary);
  color: var(--color-primary-lightest);

  padding: 1.2rem 0;
  border-radius: 3rem;
  border: none;

  transition: background-color 0.1s ease;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: var(--color-secondary-dark);
}

/* Button icon hover */
.icon-btn--hover {
  display: none;
}

.icon-btn:hover .icon-btn--default {
  display: none;
}
.icon-btn:hover .icon-btn--hover {
  display: inline;
}

/* Logo */
.logo--white {
  filter: brightness(0) invert(1);
}
