/* --------------------------------
- Purpose: to enhance reusability by defining classes' styles.
- Author: Hyunjung Joun

- Note: For responsiveness and typography, I tried to follow Apple's human interface guidelines.
-- Reference: https://developer.apple.com/design/human-interface-guidelines/typography
-------------------------------- */

/* Section Title */
.section-title {
  color: var(--color-black);
}

.section-title > p {
  font-weight: bold;
  text-transform: uppercase;
}

/* Section Image */
.section-img {
  position: relative;
  border-radius: 1.6rem;
  overflow: hidden;
}

/* Section Image - Hover */
.section-img:hover {
  cursor: pointer;
}

.section-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background: linear-gradient(
    to left top,
    var(--color-primary-background-filter),
    var(--color-black-background-filter)
  );
  opacity: 0;
  transition: all 0.15s ease;
}

.section-img:hover::before {
  opacity: 0.5;
}

.section-img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  transition: all 0.2s ease;
}

.section-img:hover img {
  transform: scale(103%);
}

.section-img .component-bookmark-add {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  transform: translate(-20%, 20%);

  opacity: 0;
  transition: opacity 0.1s ease;
}

.section-img .component-bookmark-add svg {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.section-img:hover .component-bookmark-add {
  opacity: 1;
}

.section-img:hover .component-bookmark-add svg {
  opacity: 1;
}

/* Component: Bookmark Add */
.component-bookmark-add {
  background-color: var(--color-primary);
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.component-bookmark-add svg {
  fill: var(--color-secondary-dark);
  width: 2.4rem;
}

/* Component: View All */
.viewAll {
  color: var(--color-black);
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

/* Component: Topic */
.topic {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.4rem 1.6rem;
  border-radius: 1.6rem;
  outline: 0.2rem solid var(--color-secondary-dark);
  font-weight: 600;
}

/* Button: An icon with circled button 24px */
.button-circle-24 {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 2rem;
  outline: solid 0.2rem var(--color-black);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button: An icon with circled button 32px */
.button-circle-32 {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 2rem;
  outline: solid 0.2rem var(--color-black);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button */
.button {
  padding: 0.8rem 0;
  border-radius: 3rem;
}
