/* --------------------------------
- Purpose: to set custom styles. Mainly used for specific styling through ids. Locally applied.
- Author: Hyunjung Joun
-------------------------------- */

/* Nav ----------------------------*/
#navbar {
  position: fixed;
  display: flex;
  height: 6.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  align-items: center;

  /* background-color: var(--color-bright); */
}

#navbar-menu {
  display: flex;
  justify-content: start;
  align-items: end;
}

#navbar-logo {
  height: 3.8rem;
  padding-bottom: 0.25rem;
  filter: brightness(0) invert(1);
}

#navbar-items {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  margin: 0 auto;
}

#navbar-items a {
  letter-spacing: 0.5px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0;

  color: var(--color-bright);
}

#navbar-personals {
  display: flex;
  justify-content: end;
  gap: 0.4rem;
}

#navbar-personals li {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-personals li i {
  font-size: 2.4rem;
  text-align: center;
}

/* Cover ----------------------------*/
#cover {
  display: flex;
}

/* Highlight ----------------------------*/
#highlight {
  padding: 0;
  background-image: linear-gradient(
      to left top,
      var(--color-background-filter),
      #121212b9
    ),
    url("../../data/insights/thumbnail/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#highlight h1,
#highlight p {
  color: var(--color-bright);
}

#highlight .topic {
  outline-color: var(--color-bright);
}

#highlight .section-container {
  padding: 3.2rem;
}

#highlight-buttons {
  color: var(--color-black);
  justify-content: end;
}

#highlight-buttons a {
  background-color: #f6f6f676;
  outline-style: none;
  font-size: 1.6rem;
}

/* Editor's Pick ----------------------------*/
#editorsPick {
  padding: 6.4rem 3.2rem 3.2rem 3.2rem;
  background-color: var(--color-background);
}

#editorsPick-primary {
  border-bottom: solid 0.1rem #000;
  padding-bottom: 3.2rem;
  margin-bottom: 3.2rem;
}

#editorsPick-primary .section-img {
  height: 36.3dvh;
}

#editorsPick-primary .section-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#editorsPick-secondary-list {
  list-style: disc;
  margin-left: 1.6rem;
}

#editorsPick-secondary-list li::marker {
  font-size: initial;
}

#editorsPick .component-viewAll {
  display: flex;
  justify-content: end;
}

/* Top Topics ----------------------------*/
#topTopics {
  background-color: #dee0ee;
}

#topTopics-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3.2rem;
  column-gap: 14.4rem;
}

#topTopics-list li a {
  display: flex;
}

#topTopics-list li a > p {
  font-size: 6rem;
}

#topTopics-list li a > div {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  background-color: var(--color-black);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#topTopics-list li a > div > p {
  color: var(--color-bright);
}

/* Monthly Awards ----------------------------*/
#monthlyAwards .section-title {
  display: flex;
  justify-content: space-between;
}

#monthlyAwards-content {
}

.component-card-awards {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1.6rem;
}

.component-card-awards > div {
  min-height: 43.2rem;

  background-image: linear-gradient(
      to left top,
      var(--color-background-filter),
      #121212b9
    ),
    url("../../data/insights/thumbnail/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1.6rem;
}

.component-card-awards > div > div {
  text-align: center;
  padding: 1.6rem;
}

.component-card-awards > div > div > h1 {
  letter-spacing: 2px;
  text-transform: capitalize;
}

.component-card-awards > div > div > p {
  text-transform: capitalize;
}

.label-square p {
  display: inline-block;
  border-top: solid 0.1rem var(--color-bright);
  border-bottom: solid 0.1rem var(--color-bright);
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 0.4rem 1.6rem;
}

/* ----------------------------------
- Purpose: circled progress bar with animation by using SVG
- Author: OnlineTutorialsYT, modified by Hyunjung Joun
- Reference: https://www.youtube.com/watch?v=V_G1WzPjb4o
------------------------------------ */
.donut-chart {
  position: relative;
  width: 9.6rem;
  height: 9.6rem;

  left: 50%;
  transform: translateX(-50%);
  /* background-color: red; */
}

.donut-chart svg {
  position: relative;
  width: 9.6rem;
  height: 9.6rem;
  transform: rotate(-90deg);
}

.donut-chart svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  transform: translate(5px, 5px);
}

.donut-chart svg circle:nth-child(2) {
  stroke: var(--color-bright);
  stroke-dasharray: 270;
  stroke-dashoffset: calc(270 - (270 * var(--num)) / 10);
}

.donut-chart-number {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
