/* --------------------------------
- Purpose: to set specific custom styles through ids locally.
- Author: Hyunjung Joun
-------------------------------- */

/* Nav ----------------------------*/
#navbar {
  position: fixed;
  display: flex;
  height: 6.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  align-items: center;
}

#navbar-menu {
  width: 66.66666%;

  display: flex;
  justify-content: start;
  align-items: end;
}

#navbar-logo {
  height: 3.8rem;
  padding-bottom: 0.25rem;
  filter: brightness(0) invert(1);
}

#navbar-items {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  margin: 0 auto;
}

#navbar-items a {
  letter-spacing: 0.5px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0;

  color: var(--color-white);
}

#navbar-personals {
  width: 33.33333%;

  display: flex;
  justify-content: end;
  gap: 0.4rem;
}

#navbar-personals li {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-personals li i {
  font-size: 2.4rem;
  text-align: center;
}

/* Cover ----------------------------*/
#cover {
  display: flex;
}

/* Highlight ----------------------------*/

#highlight {
  width: 66.66666%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#highlight .section-container {
  padding: 3.2rem;
}

#highlight-buttons {
  color: var(--color-secondary);
  justify-content: end;
}

#highlight-buttons a {
  background-color: #f6f6f676;
  outline-style: none;
  font-size: 1.6rem;
}

/* Editor's Pick ----------------------------*/
#editorsPick {
  width: 33.33333%;
  padding: 6.4rem 3.2rem 3.2rem 3.2rem;
  background-color: var(--color-primary-light);
}

#editorsPick-primary {
  border-bottom: solid 0.1rem #000;
  padding-bottom: 3.2rem;
  margin-bottom: 3.2rem;
}

#editorsPick-primary .section-img {
  height: 32dvh;
}

#editorsPick-primary .section-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#editorsPick-secondary-list {
  list-style: disc;
  margin-left: 1.6rem;
}

#editorsPick-secondary-list li::marker {
  font-size: initial;
}

#editorsPick .component-viewAll {
  display: flex;
  justify-content: end;
}

/* Top Topics ----------------------------*/
#topTopics {
  background-color: var(--color-secondary-light);
}

#topTopics-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3.2rem;
  column-gap: 14.4rem;
}

#topTopics-list li a {
  display: flex;
}

#topTopics-list li a > div {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  background-color: var(--color-secondary);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#topTopics-list li a > div > p {
  color: var(--color-primary-lightest);
}

/* Monthly Awards ----------------------------*/
#monthlyAwards .section-title {
  display: flex;
  justify-content: space-between;
}

#awards-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1.6rem;
}

.card-awards {
  min-height: 55rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1.6rem;
}

.card-awards:first-child .card-awards-container {
  padding: 12rem;
  transform: scale(1.3);
}

.card-awards-container {
  text-align: center;
  padding: 1.6rem;
}

.card-awards-label label {
  text-transform: capitalize;
  display: inline-block;
  border-top: solid 0.1rem var(--color-primary-lightest);
  border-bottom: solid 0.1rem var(--color-primary-lightest);
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0.4rem 1.6rem;
}

/* ----------------------------------
- Purpose: circled progress bar with animation by using SVG
- Author: OnlineTutorialsYT, modified by Hyunjung Joun
- Reference: https://www.youtube.com/watch?v=V_G1WzPjb4o
------------------------------------ */
.donut-chart {
  position: relative;
  width: 9.6rem;
  height: 9.6rem;

  left: 50%;
  transform: translateX(-50%);
  /* background-color: red; */
}

.donut-chart svg {
  position: relative;
  width: 9.6rem;
  height: 9.6rem;
  transform: rotate(-90deg);
}

.donut-chart svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  transform: translate(5px, 5px);
}

.donut-chart svg circle:nth-child(2) {
  stroke: var(--color-primary-lightest);
  stroke-dasharray: 270;
  stroke-dashoffset: calc(270 - (270 * var(--num)) / 10);
}

.donut-chart-number {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Trending Section ----------------------------*/
#section-trending {
  background-color: var(--color-primary-lightest);
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1.6rem;
}

#trending {
  grid-column: 1 / 4;
  grid-row: 1 / -1;
}

#trending-highlight {
  width: 63%;
}

#trending-list {
  width: 37%;

  padding-left: 1.6rem;
  border-left: solid 1px var(--color-secondary-light);

  padding-right: 1.6rem;
  border-right: solid 1px var(--color-secondary-light);
}

.trending-list-item {
  padding-bottom: 0.8rem;
  border-bottom: solid 1px var(--color-secondary-light);
}

.trending-list-item:last-child {
  border-bottom: none;
}

.trending-list-item .section-img {
  width: 30rem;
}

.trending-list-item .section-img img {
}

#newsletter {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

#trending .section-title {
  display: flex;
  justify-content: space-between;
}

/* Stay Connected ----------------------------- */
#connected .connected-list-item a {
  display: flex;
  justify-content: space-between;
}

/* Saved For Later ----------------------------*/
#savedForLater .section-title {
  display: flex;
  justify-content: space-between;
}

.savedForLater-card {
  background-image: linear-gradient(
      to left top,
      var(--color-primary-filter),
      var(--color-secondary-filter)
    ),
    url("../../data/insights/thumbnail/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
}
