/* --------------------------------
- Purpose: to set reusable css variables
- Author: Hyunjung Joun
-------------------------------- */

:root {
  /* Colors */
  --color-primary: #d4ef69;
  --color-primary-light: #edf4a5;
  --color-primary-lightest: #f0f5e0;
  --color-primary-filter: #606d2b93;

  --color-secondary-light: #c6cff0;
  --color-secondary: #1743d1;
  --color-secondary-dark: #28396e;

  --color-gray-light: #b3b9ca;
  --color-gray: #767c8f;
  --color-gray-dark: #3b3e48;

  --color-mint-light: #e0f5ef;

  --color-secondary-filter: #121212b9;
  --color-white: #fbfcf6;

  /* Font Sizes */
  --h0-xs: 5rem;
  --h1-xs: 2.5rem;
  --h2-xs: 1.9rem;
  --h3-xs: 1.7rem;
  --body-m-xs: 1.4rem;
  --body-s-xs: 1.2rem;
  --body-xs-xs: 1.1rem;

  --h1-xl: 6.6rem;
  --h1-spacing-xl: -0.05rem;
  --h2-xl: 5.3rem;
  --h2-spacing-xl: 0px;
  --h3-xl: 3.8rem;
  --h3-spacing-xl: 0.025rem;
  --h4-xl: 2.6rem;
  --h4-spacing-xl: 0px;

  --body1-xl: 1.7rem;
  --body1-spacing-xl: 0.05rem;
  --body2-xl: 1.5rem;
  --body2-spacing-xl: 0.025rem;

  --button-xl: 1.5rem;
  --button-spacing-xl: 0.125rem;

  --caption-xl: 1.3rem;
  --caption-spacing-xl: 0.04rem;

  --overline-xl: 1.1rem;
  --overline-spacing-xl: 0.15rem;

  /* Sizes */
  --size-xs: 0.4rem;
  --size-s: 0.8rem;
  --size-m: 1.6rem;
  --size-l: 3.2rem;
  --size-xl: 4.8rem;
  --size-2xl: 6.4rem;

  /* Radius */
  --rad-img: 1.6rem;

  /* Z-index */
}
